@import "tailwindcss";

@plugin "daisyui";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}